{% extends 'base.html.twig' %}

{% block title %}New OrganismeDeFormation{% endblock %}

{% block body %}
    <h1>Create new OrganismeDeFormation</h1>

    {{ include('organisme_de_formation/_form.html.twig') }}

    <a href="{{ path('app_organisme_de_formation_index') }}">back to list</a>
{% endblock %}
